@font-face {
  font-family: font-awesome;
  src: url('../fonts/font-awesome.woff') format('woff'),
       url('../fonts/font-awesome.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: ionicons;
  src: url('../fonts/ionicons.woff') format('woff'),
       url('../fonts/ionicons.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: material-icons;
  src: url('../fonts/material-icons.woff') format('woff'),
       url('../fonts/material-icons.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

/* Ensure these override earlier @font-face by being loaded later */
